<h1>Products#index</h1>
	<% cart.each do |p| %>
		<p><%= p %></p>
	<% end %>

<form action='add' method='POST'>
  <label>Product:</label><br>
  <input type="text" id="product" name="product"><br>

  <input type="submit" value="add to cart">
</form>
