index homepage

<%# a text box where the user can enter the
name of a product, a submit button that adds it
to their cart, and a display of what's in the cart. %>

<h1>Products</h1>
<ul>
<% cart.each do |item| %>
  <li><%= item %></li>
<% end %>
</ul>
<%= form_tag ({controller: 'products',
    action: 'add',
    method: 'post'}) do %>

  <input name=product>
  <input type=submit value='add to cart'>
<% end %>
