
<ul>
  <%= cart.each do |product| %>
    <li><%= product %></li>
  <%end%>
</ul>
<%# displays list of products %>

<%= form_tag ({controller: 'products', action: 'add', method: 'post'}) do %>
  <input name=product>
  <input type=submit value='add to cart'>
<%end%>
<%# creates an input for type of product and submit button %>
