<h1>Products Index</h1>

<% if session[:cart]%>
  <% session[:cart].each do |item| %>
    <li><%= item %></li>
  <%end%>
<% end %>


  <%= form_tag ({controller:'products', action: 'add', method: 'post'}) do %>

    <input name='product'>
    <input type="submit" name="add to cart" value="add to cart">
  <%end%>
