<ul>  
  <% cart.each do |product| %>
    <li><%= product %></li>
  <% end %>
</ul>

<%= form_tag(add_product_path) do %>
    <input type="text" name="product">
    <input type="submit" value="add to cart">
<% end %>